﻿@{
	ViewData["Title"] = "Create Product";
}

<div class="card">
	<div class="card-body">
		<div class="h4 mb-4">@ViewData["Title"]</div>

		<form asp-action="Create" method="post" id="form_input">
			<div class="row mb-4">
				<label for="NameProduct" class="col-sm-4 col-form-label">Product Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="NameProduct" name="NameProduct" value="@Model.NameProduct" />
					<span id="validate_NameProduct" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-4">
				<label for="IdCategory" class="col-sm-4 col-form-label">Category Name</label>
				<div class="col-sm-8">
					@Html.DropDownList("IdCategory",
										new SelectList(ViewBag.ListCategory, "Id", "NameCategory"),
										"Choose Category",
										new { @class = "form-control" }
										)
				</div>
			</div>

			<div class="row mb-4">
				<label for="IdVariant" class="col-sm-4 col-form-label">Variant Name</label>
				<div class="col-sm-8">
					@Html.DropDownList("IdVariant",
										new SelectList(ViewBag.ListVariant, "Id", "NameVariant"),
										"Choose Variant",
										new { @class = "form-control" }
										)
				</div>
			</div>

			<div class="row mb-4">
				<label for="Price" class="col-sm-4 col-form-label">Price</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="Price" name="Price" value="@Model.Price">
				</div>
			</div>

			<div class="row mb-4">
				<label for="Stock" class="col-sm-4 col-form-label">Stock</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="Stock" name="Stock" value="@Model.Stock">
				</div>
			</div>

			<div class="row mb-4">
				<label for="ImageFile" class="col-sm-4 col-form-label">Upload Image</label>
				<div class="col-sm-8">
					<input type="file" class="form-control" id="ImageFile" name="ImageFile" value="@Model.Image">
				</div>
			</div>

			<div class="row mb-4">
				<div class="col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>
					<a class="btn btn-light" asp-controller="Product" asp-action="Index">Back to List</a>
				</div>
			</div>
		</form>
	</div>
</div>

<script>
	$("#form_input").validate({
		errorClass: "text-danger",
		rules: {
			NameProduct: {
				required: true,
				minlength: 3
			},
			Price: {
				required : true,
				number : true
			},
			Stock: {
				required: true,
				number: true
			},
			IdCategory: "required",
			IdVariant: "required,
			ImageFile: {
				required: "true",

			}
		},
		messages: {
			NameProduct: {
				required: "Please fill Product Name.",
				minlength: "Name must be at least 3 characters"
			},
			Price: {
				required: "Please fill price",
				number: "Number only."
			},
			Stock: {
				required: "Please fill stock",
				number: "Number only."
			},
			IdCategory: "Please select a category.",
			IdVariant: "Please select a variant",
			ImageFile: {
				required: "Please fill image"
			}
		},
		submitHandler: function (form) {
			var dataForm = $(form).serialize()
			var name = $("#NameProduct").val()
			var id = 0
			var idCategory = $("#IdCategory").val()

			$.ajax({
				url: "/Variant/CheckNameIsExist",
				type: "get",
				data: { nameVariant: name, id: id, idCategory: idCategory },
				dataType: "json",
				success: function (response) {
					if (response) {
						$("#validate_NameVariant").text("Variant name has already exist.")
						return true
					} else {
						fungsiSubmit(dataForm)
					}
				}
			})
		}
	})

	function fungsiSubmit(dataParam) {
		$.ajax({
			url: "/Variant/Create",
			type: "post",
			data: dataParam,
			dataType: "json",
			success: function (response) {
				var data = response.dataResponse

				if (data.success) {
					$("#my_modal").modal("hide")

					toastr.success(
						data.message,
						'',
						{
							timeOut: 500,
							fadeOut: 500,
							onHidden: function () {
								window.location.reload()
							}
						}
					)
				}
				else {
					toastr.errorClass(data.message)
				}
			}
		})
	}
</script>