﻿@model Friend;

@{
    ViewData["Title"] = "Detail Friend";
}

<div class="h4 mb-4">Detail Form Friend</div>

<div class="row mb-4">
    <label for="id" class="col-sm-2 col-form-label">Id</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="id" name="Id" value="@Model.Id" readonly>
    </div>
</div>

<div class="row mb-4">
    <label for="name" class="col-sm-2 col-form-label">Nama</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="name" name="Name" value="@Model.Name" readonly>
    </div>
</div>

<div class="row mb-4">
    <label for="id" class="col-sm-2 col-form-label">Address</label>
    <div class="col-sm-10">
        <textarea class="form-control" id="address" name="Address" readonly>@Model.Address</textarea>
    </div>
</div>

<div class="row mb-4">
    <div class="col-sm-10">
        <a class="btn btn-light" asp-controller="Friend" asp-action="Index">Back to List</a>
    </div>
</div>

