﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-right">
    <h5 class="display-1">Welcome to Xpos 334</h5>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
