﻿@using xpos334.viewmodels
@model VMTblCategory

@{
	//Layout = null;
	ViewData["Title"] = "Create Category Try";
}

<div class="card">
	<div class="card-body">
		<div class="h4 mb-4">@ViewData["Title"]</div>

		<form asp-action="Create" method="post">
			<div class="row mb-4">
				<label for="NameCategory" class="col-sm-4 col-form-label">Category Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="NameCategory" name="NameCategory" value="@Model.NameCategory">
					<span asp-validation-for="NameCategory" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-4">
				<label for="Description" class="col-sm-4 col-form-label">Description</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="Description" name="Description" value="@Model.Description">
					<span asp-validation-for="Description" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-4">
				<div class="col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>
					<a class="btn btn-light" asp-controller="CategoryTry" asp-action="Index">Back to List</a>
				</div>
			</div>
		</form>

	</div>
</div>
