﻿@using xpos334.viewmodels
@model VMTblCategory

@{
	ViewData["Title"] = "Delete Category Try";
}

<div class="card">
	<div class="card-body">
		<div class="h4 mb-4">@ViewData["Title"]</div>

		<form asp-action="Delete" method="post">
			<input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id">

			<div class="row mb-4">
				<div class="col-sm-10">
					<button class="btn btn-danger" type="submit">Delete</button>
					<a class="btn btn-light" asp-controller="CategoryTry" asp-action="Index">Cancel</a>
				</div>
			</div>
		</form>
	</div>
</div>
