﻿@{
    ViewData["Title"] = "Create Category";
}

<div class="card">
    <div class="card-body">
		<div class="h4 mb-4"></div>

		<form asp-action="Create" method="post" id="form_input">
			<div class="row mb-4">
				<label for="NameCategory" class="col-sm-4 col-form-label">Category Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="NameCategory" name="NameCategory" value="@Model.NameCategory">
					<span class="text-danger" id="validate_NameCategory"></span>
				</div>
			</div>

			<div class="row mb-4">
				<label for="Description" class="col-sm-4 col-form-label">Description</label>
				<div class="col-sm-8">
					<textarea class="form-control" id="Description" name="Description">@Model.Description</textarea>
				</div>
			</div>

			<div class="row mb-4">
				<div class="col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>
					<a class="btn btn-light" asp-controller="Category" asp-action="Index">Back to List</a>
				</div>
			</div>
		</form>
    </div>
</div>

<script>
	$("#form_input").validate({
		errorClass:"text-danger",
		rules: {
			NameCategory:{
				required:true,
				minlength: 3
			}
		},
		messages:{
			NameCategory: {
				required:"Please fill category name!",
				minlength: "Name must consist at least 3 characters."
			}
		},
		submitHandler: function (form) {
			// debugger
			var dataForm = $(form).serialize()
			var nameCategory = $("#NameCategory").val()
			var id = 0;

			$.ajax({
				url:"/Category/CheckNameIsExist",
				type:"get",
				data: {nameCategory: nameCategory, id: id},
				dataType: "json",
				success: function(response){
					if (response) {
						$("#validate_NameCategory").text("Category name has already exist.")
						return true
					}else{
						fungsiSubmit(dataForm)
					}
				}
			})
		}
	})

	function fungsiSubmit(dataParam) {
		$.ajax({
			url:"/Category/Create",
			type:"post",
			data: dataParam,
			dataType:"json",
			success: function(response){
				var data = response.dataResponse

				if (data.success) {
					$("#my_modal").modal("hide")

					toastr.success(
						data.message,
						'',
						{
							timeOut:500,
							fadeOut:500,
							onHidden: function(){
								window.location.reload()
							}
						}
					)
				}
				else{
					toastr.errorClass(data.message)
				}
			}
		})
	}
</script>
