﻿@{
	ViewData["Title"] = "Detail Category";
}

<div class="card">
	<div class="card-body">
		<div class="h4 mb-4">@ViewData["Title"]</div>

		<div class="row mb-4">
			<label for="NameCategory" class="col-sm-4 col-form-label">Category Name</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" id="NameCategory" name="NameCategory" value="@Model.NameCategory" readonly>
				<span class="text-danger" id="validate_NameCategory"></span>
			</div>
		</div>

		<div class="row mb-4">
			<label for="Description" class="col-sm-4 col-form-label">Description</label>
			<div class="col-sm-8">
				<textarea class="form-control" id="Description" name="Description" readonly>@Model.Description</textarea>
			</div>
		</div>

		<div class="row mb-4">
			<div class="col-sm-10">
				<a class="btn btn-light" asp-controller="Category" asp-action="Index">Back to List</a>
			</div>
		</div>
	</div>
</div>
