﻿@using xpos334.viewmodels
@model VMTblVariant

@{
	ViewData["Title"] = "Delete";
}

<div class="card">
	<div class="card-body">
		<div class="h4 mb-4">@ViewData["Title"]</div>

		<form asp-action="Delete" method="post">
			<input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id">

			<div class="row mb-4">
				<div class="col-sm-10">
					<button class="btn btn-danger" type="submit">Yes</button>
					<a class="btn btn-light" asp-controller="VariantTry" asp-action="Index">No</a>
				</div>
			</div>
		</form>

		@*<form asp-action="Test" method="post">
			<button type="submit">Tombol</button>
		</form>*@
	</div>
</div>