﻿@{
	ViewData["Title"] = "Detail Variant Try";
}

<div class="card">
	<div class="card-body">
		<div class="h4 mb-4">@ViewData["Title"]</div>

			<div class="row mb-4">
				<label for="NameCategory" class="col-sm-4 col-form-label">Variant Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="NameVariant" name="NameVariant" value="@Model.NameVariant" readonly />
				</div>
			</div>

			<div class="row mb-4">
				<label for="NameCategory" class="col-sm-4 col-form-label">Category Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="NameCategory" name="NameCategory" value="@Model.NameCategory" readonly />
				</div>
			</div>

			<div class="row mb-4">
				<label for="Description" class="col-sm-4 col-form-label">Description</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="Description" name="Description" value="@Model.Description" readonly />
				</div>
			</div>
	</div>
</div>
