﻿@{
	ViewData["Title"] = "Test";
}

<h1>@ViewData["Title"]</h1>

@{
	foreach(var item in @Model)
	{
		<p>{@item.x , @item.y}</p>
	}
}

<form asp-action="Posting" method="post" >
	<button type="submit">Submit</button>
</form>


@*<a class="btn btn-light" asp-controller="Test" asp-action="Posting">Back to Posting</a>*@

<p>@ViewBag.x</p>
