﻿@{
	ViewData["Title"] = "Create Variant";
}

<div class="card">
	<div class="card-body">
		<div class="h4 mb-4">@ViewData["Title"]</div>

		<form asp-action="Create" method="post" id="form_input">
			<div class="row mb-4">
				<label for="NameVariant" class="col-sm-4 col-form-label">Variant Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="NameVariant" name="NameVariant" value="@Model.NameVariant" />
					<span id="validate_NameVariant" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-4">
				<label for="NameCategory" class="col-sm-4 col-form-label">Category Name</label>
				<div class="col-sm-8">
					@Html.DropDownList("IdCategory",
					new SelectList(ViewBag.ListCategories, "Id", "NameCategory"),
					"Choose Category",
					new { @class = "form-control" }
					)
				</div>
			</div>

			<div class="row mb-4">
				<label for="Description" class="col-sm-4 col-form-label">Description</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="Description" name="Description" value="@Model.Description">
				</div>
			</div>

			<div class="row mb-4">
				<div class="col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>
					<a class="btn btn-light" asp-controller="Variant" asp-action="Index">Back to List</a>
				</div>
			</div>
		</form>
	</div>
</div>

<script>
	$("#form_input").validate({
		errorClass: "text-danger",
		rules: {
			NameVariant: {
				required: true,
				minlength: 3
			},
			IdCategory: "required"
		},
		messages: {
			NameVariant: {
				required: "Please fill Variant Name.",
				minlength: "Name must be at least 3 characters"
			},
			IdCategory: "Please select a category."
		},
		submitHandler: function (form) {
			var dataForm = $(form).serialize()
			var name = $("#NameVariant").val()
			var id = 0
			var idCategory = $("#IdCategory").val()

			$.ajax({
				url: "/Variant/CheckNameIsExist",
				type: "get",
				data: { nameVariant: name, id: id, idCategory: idCategory },
				dataType: "json",
				success: function (response) {
					if (response) {
						$("#validate_NameVariant").text("Variant name has already exist.")
						return true
					} else {
						fungsiSubmit(dataForm)
					}
				}
			})
		}
	})

	function fungsiSubmit(dataParam) {
		$.ajax({
			url: "/Variant/Create",
			type: "post",
			data: dataParam,
			dataType: "json",
			success: function (response) {
				var data = response.dataResponse

				if (data.success) {
					$("#my_modal").modal("hide")

					toastr.success(
						data.message,
						'',
						{
							timeOut: 500,
							fadeOut: 500,
							onHidden: function () {
								window.location.reload()
							}
						}
					)
				}
				else {
					toastr.errorClass(data.message)
				}
			}
		})
	}
</script>