﻿@{
    ViewData["Title"] = "Delete Variant";
}

<div class="card">
    <div class="card-body">
        <form asp-action="SureDelete" method="post" id="form_delete">
            <h4>Are you sure to delete @Model.NameVariant ?</h4>

            <input type="hidden" name="Id" id="Id" value="@Model.Id" />

            <div class="modal-footer">
                <button class="btn btn-danger" type="submit">Yes</button>
                <a class="btn btn-warning" asp-controller="Variant" asp-action="Index">No</a>
            </div>
        </form>
    </div>
</div>

<script>
    $("#form_delete").validate({
        submitHandler: function (form) {
            //untuk memakai data form, mengirim data melalui table/VM
            // var dataParam = $(form).serialize()

            var id = $("#Id").val()
            $.ajax({
                url: '/Variant/SureDelete',
                type: 'post',
                data: { id: id },
                dataType: 'json',
                success: function (response) {
                    var data = response.dataResponse

                    if (data.success) {
                        $("#my_modal").modal("hide")

                        toastr.success(
                            data.message,
                            '',
                            {
                                timeOut: 500,
                                fadeOut: 500,
                                onHidden: function () {
                                    window.location.reload()
                                }
                            }
                        )
                    }else{
                        toastr.errorClass(data.message)
                    }
                }
            })
        }
    })
</script>