﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <title>Adminmart Template - The Ultimate Multipurpose admin template</title>
    <script src="~/AdminMart/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <!-- Custom CSS -->
    <link href="~/AdminMart/assets/extra-libs/c3/c3.min.css" rel="stylesheet">
    <link href="~/AdminMart/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <link href="~/AdminMart/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/AdminMart/dist/css/style.min.css" rel="stylesheet">
    <!-- Toastr -->
    <script src="~/AdminMart/plugins/plugins/toastr/toastr.min.js"></script>
    <link rel="stylesheet" href="~/AdminMart/plugins/plugins/toastr/toastr.min.css" />
    <!-- Sweetalert2 -->
    <script src="~/AdminMart/plugins/plugins/sweetalert2/sweetalert2.js"></script>
</head>
<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">

        <partial name="_Header" />

        <partial name="_Sidebar" />

        <div class="page-wrapper">
            <div class="container-fluid">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

            <footer class="footer text-center text-muted">
                All Rights Reserved by Adminmart. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
            </footer>
        </div>
     </div>


    <!-- Modal -->
    <div class="modal fade" id="my_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal_body">
                    ...
                </div>
            </div>
        </div>
    </div>

    <script src="~/AdminMart/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/AdminMart/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- apps -->
    <!-- apps -->
    <script src="~/AdminMart/dist/js/app-style-switcher.js"></script>
    <script src="~/AdminMart/dist/js/feather.min.js"></script>
    <script src="~/AdminMart/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/AdminMart/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/AdminMart/dist/js/custom.min.js"></script>
    <!--This page JavaScript -->
    <script src="~/AdminMart/assets/extra-libs/c3/d3.min.js"></script>
    <script src="~/AdminMart/assets/extra-libs/c3/c3.min.js"></script>
    <script src="~/AdminMart/assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="~/AdminMart/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="~/AdminMart/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="~/AdminMart/assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/AdminMart/dist/js/pages/dashboards/dashboard1.min.js"></script>
</body>
</html>
